services:
  ordersmicroservice.api:
    image: ordersmicroserviceapi
    build:
      context: .
      dockerfile: OrdersMicroservice.API/Dockerfile
    environment:
    - ASPNETCORE_ENVIRONMENT=Developement
    - MONGO_HOST=mongodb-container
    - MONGO_PORT=27017
    - MONGODB_DATABASE=OrdersDatabase
    - UsersMircorserviceName=users-microservice
    - UsersMicroservicePort=9090
    ports:
      - "7000:8080" 
    networks:
      - orders-mongodb-network
      - ecommerce-network
    depends_on:
      - mongodb-container

  mongodb-container:
    image: mongo:latest
    ports:
      - "27017:27017" 
    volumes:
      - ../../Microservices-essentials/mongodb-init:/docker-entrypoint-initdb.d
    networks:
      - orders-mongodb-network 
        

  products-microservice:
    image: products-microservice:latest
    environment:
     - ASPNETCORE_HTTP_PORTS=8080  
     - ASPNETCORE_ENVIRONMENT=Development
     - MSSQL_HOST=mssql-container
     - MSSQL_PASSWORD=root@1234
     - MSSQL_DATABASE=ProductMicro
     - MSSQL_PORT=1433
    ports:
     - "6000:8080"
    networks:
     - products-mssql-network
     - ecommerce-network
    depends_on:
     - mssql-container
        
  mssql-container:
    container_name: mssql-container
    image: mcr.microsoft.com/mssql/server:latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: root@1234
      
    ports:
      - "1434:1433"
    volumes:
      - ../../Microservices-essentials/mssql-init:/db-init
      - ../../Microservices-essentials/entrypoint.sh:/entrypoint.sh
    entrypoint: ["/bin/bash", "/entrypoint.sh"]
    networks:
      - products-mssql-network
      - ecommerce-network
  
  users-microservice:
    image: users-microservice:latest
    environment:
     - ASPNETCORE_HTTP_PORTS=8080
     - ASPNETCORE_HTTP_ENVIRONMENT=Development
     - POSTGRES_PASSWORD=root
     - POSTGRES_HOST=postgres-container
     - POSTGRES_DATABASE=eCommerceUsers
     - POSTGRES_USER=postgres
     - POSTGRES_PORT=5432
    ports:
     - "5000:9090" 
    networks:
     - users-postgres-network
     - ecommerce-network
    depends_on:
     - postgres-container
  
  postgres-container:
    image: postgres:13
    environment:
     - POSTGRES_PASSWORD=root
     - POSTGRES_DATABASE=eCommerceUsers
     - POSTGRES_USER=postgres
    ports:
     - "5433:5432"
    volumes:
     - .././Microservices-essentials/postgres-init:/docker-entrypoint-initdb.d     
    networks:
     - ecommerce-network


    
networks:
  orders-mongodb-network:
    driver: bridge 
  products-mssql-network:
    driver: bridge
  users-postgres-network:
    driver: bridge
  ecommerce-network:
    driver: bridge  