IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ProductMicro')
BEGIN
    CREATE DATABASE ProductMicro;
END
GO

USE [ProductMicro];
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Categories] (
    [Id] INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    [Title] NVARCHAR(MAX) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[Products] (
    [ProductID] UNIQUEIDENTIFIER NOT NULL PRIMARY KEY,
    [Category] NVARCHAR(MAX) NOT NULL,
    [ProductName] NVARCHAR(MAX) NOT NULL,
    [QuantityInStock] INT NOT NULL,
    [UnitPrice] FLOAT NOT NULL
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Products] WITH CHECK ADD CONSTRAINT [FK_Products_Categories_Category] FOREIGN KEY([Category]) REFERENCES [dbo].[Categories] ([Title]) ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories_Category]
GO
